# Pandas

## Series

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b': 20, 'c': 30}

In [4]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4],['USA','Japan','Germany','USSR'])

In [14]:
ser1

USA        1
Japan      2
Germany    3
USSR       4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [16]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [17]:
ser1['USA']

np.int64(1)

In [18]:
ser3 = pd.Series(data=labels)

In [19]:
ser3

0    a
1    b
2    c
dtype: object

In [22]:
ser1 + ser2

Germany    5.0
Italy      NaN
Japan      6.0
USA        2.0
USSR       NaN
dtype: float64