# Pandas

For dealing with datas:
- Analyze
- Clean
- Explore
- Manipulate

In [1]:
import pandas as pd

cars = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df = pd.DataFrame(cars)

df

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
pd.__version__

'2.2.3'

## Series

one-dimensional array holding data of any type

In [3]:
arr = [5, 1, 4]

series = pd.Series(arr, index=["x", "y", "z"])

series

x    5
y    1
z    4
dtype: int64

In [4]:
calories = {"day1": 420, "day2": 380, "day3": 390}

series = pd.Series(calories)

series

day1    420
day2    380
day3    390
dtype: int64

In [5]:
series = pd.Series(calories, index=["day1", "day3"])

series

day1    420
day3    390
dtype: int64

## DataFrames

a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [6]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

df

   calories  duration
0       420        50
1       380        40
2       390        45

In [7]:
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [8]:
df.loc[[0, 1]]

   calories  duration
0       420        50
1       380        40

In [9]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index=["day1", "day2", "day3"])

print(df, df.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45 calories    380
duration     40
Name: day2, dtype: int64

## Read CSV Files

A simple way to store big data sets is to use CSV files (comma separated files).

In [14]:
df = pd.read_csv("data.csv")

print(df.head(10).to_string())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [15]:
pd.options.display.max_rows

60

In [17]:
# Increase the maximum number of rows to display the entire DataFrame:
pd.options.display.max_rows = 9999
df = pd.read_csv('data.csv')
# df