# Pandas

For dealing with datas:
- Analyze
- Clean
- Explore
- Manipulate

In [2]:
import pandas as pd

cars = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df = pd.DataFrame(cars)

df

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
pd.__version__

'2.2.3'

## Series

one-dimensional array holding data of any type

In [12]:
arr = [5, 1, 4]

series = pd.Series(arr, index=["x", "y", "z"])

series

x    5
y    1
z    4
dtype: int64

In [13]:
calories = {"day1": 420, "day2": 380, "day3": 390}

series = pd.Series(calories)

series

day1    420
day2    380
day3    390
dtype: int64

In [14]:
series = pd.Series(calories, index=["day1", "day3"])

series

day1    420
day3    390
dtype: int64

In [15]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

df

   calories  duration
0       420        50
1       380        40
2       390        45